.cart {
    .title {
        border-bottom: $border;
    }
    .cart-items {
        .item {
            border-bottom: $border;
            padding: 10px 0;
            .img {
                overflow: hidden;
                img {
                    transition: .3s;
                }
                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
            .info {
                position: relative;
            }
            .delete {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
            }
            .name, .price {
                color: $blue;
                font-size: $large-size;
                font-weight: 600;
            }
            .quantity {
                width: 100%;
                .input {
                    display: flex;
                    .change{
                        border: $border;
                        padding: 20px;
                        position: relative;
                        > * {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50% , -50%);
                        }
                    }
                    input {
                        border-top: $border;
                        border-bottom: $border;
                        padding: 0 10px;
                        flex: 1;
                    }
                }
            }
            .sum {
                margin-top: 10px;
                font-size: $large-size;
                font-weight: 600;
            }
        }
    }
    .check-out {
        .sum {
            color : $blue;
            font-weight: 600;
            font-size: $large-size;
            display: flex;
            justify-content: space-between;
        }
        .button {
            margin: 0 auto;
            margin-top: 10px;
            text-transform: uppercase;
            width: 100%;
        }
        .return {
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
}