.home {
    .ss_1 {
        margin-top: 30px;

        .button {
            margin: 0 auto;
        }
    }

    .ss_2 {
        margin-top: 30px;

        .title {
            padding-bottom: 10px;
            border-bottom: $border;
        }

        .item {
            color: $text-color;
            .img {
                aspect-ratio: 1;
                position: relative;
            }

            .name {
                margin-top: 5px;
                font-weight: 600;
                text-align: center;
            }

            .price {
                font-weight: 600;
                text-align: center;
            }
        }
    }

    .ss_3 {
        margin-top: 30px;

        .title {
            padding-bottom: 20px;
            border-bottom: $border;
        }

        p {
            margin-top: 20px;
            text-align: center;
        }
    }

    .ss_4 {
        .title {
            padding-bottom: 20px;
            border-bottom: $border;
        }

        .item {
            color: $text-color;

            .img {
                aspect-ratio: 1;
                position: relative;
            }

            .name {
                margin-top: 5px;
                font-weight: 600;
                text-align: center;
            }

            .price {
                font-weight: 600;
                text-align: center;
            }
        }
    }
}