.products {
    margin-top: 30px;
    .title {
        text-transform: uppercase;
        padding-bottom: 20px;
        border-bottom: 1px solid #000;
    }
    .product {
        border-radius: 5px;
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
        .img {
            width: 100%;
            aspect-ratio: 1;
            position: relative;
            overflow: hidden;
            img {
                transition: .3s;
            }
        }
        .name {
            font-size: $large-size;
            font-weight: 500;
            color: #000;
            text-align: center;
        }
        .price {
            color: #000;
            font-weight: 600;
            text-align: center;
        }
        .create-date {
            font-size: $small-size;
            color: #000;
        }
    }
}