.upload {
    margin-top: 30px;

    .title {
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 20px;
        border-bottom: $border;
    }

    #canvas {
        width: 100%;
        margin: 0 auto;

        canvas {
            width: 100%;
        }
    }

    .frame {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        .title {
            width: 100%;
            margin-bottom: 30px;
        }

        [class*="frame_"] {
            width: 25%;
            text-align: center;
            cursor: pointer;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &.selected {
                border: 2px solid #000;
            }
            position: relative;
            span {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, 0);
                width: 200%;
                opacity: 0;
                transition: 0.3s;
            }
            &:hover {
                span {
                    opacity: 1;
                }
            }
        }

        .frame_1 {
            &::before {
                content: "";
                display: block;
                width: 42px;
                height: 60px;
                background-color: #000;
                margin: 0 auto;
            }
        }

        .frame_2 {
            &::before {
                content: "";
                display: block;
                width: 60px;
                height: 60px;
                background-color: #000;
                margin: 0 auto;
            }
        }

        .frame_3 {
            &::before {
                content: "";
                display: block;
                width: 60px;
                height: 60px;
                background-color: #000;
                margin: 0 auto;
                border-radius: 50%;
            }
        }

        .frame_4 {
            &::before {
                content: "";
                display: block;
                width: 60px;
                height: 60px;
                margin: 0 auto;
            }
            position: relative;
            .icon {
                font-size: 56px;
                position: absolute;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -0%);
                height: 100%;
            }
        }
    }

    .slices {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;

        .title {
            width: 100%;
        }

        .slice {
            cursor: pointer;
            width: 25%;
            margin-top: 30px;
            text-align: center;

            img {
                width: 30%;
            }

            &.selected {
                border: 2px solid #000;
            }
        }
    }

    .upload {
        border: 2px dashed #000;
        padding: 20px;

        label {
            width: 100%;
            height: 100%;
            text-align: center;
            cursor: pointer;
            display: block;
            text-transform: uppercase;
            font-size: 2rem;
        }

        input {
            display: none;
        }

        .selected {
            display: flex;
            column-gap: 15px;
            align-items: flex-start;

            > * {
                width: 30%;
            }

            .controls {
                display: flex;
                width: 70%;
                justify-content: space-between;
                row-gap: 10px;
                flex-wrap: wrap;

                .control-row {
                    column-gap: 10px;
                    width: 100%;
                    display: flex;

                    .control {
                        cursor: pointer;
                        padding: 20px;
                        border: 2px solid #000;
                        position: relative;

                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                p {
                    width: 100%;
                    text-align: center;
                }
            }

            @include max-sm {
                flex-wrap: wrap;
                > * {
                    width: 100%;
                }
                .control {
                    margin-top: 10px;
                }
            }
        }
    }

    .button {
        width: 100%;
    }
    .text {
        input {
            border: $border;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
        }
        .flexbox {
            .title {
                padding: 0;
                border: none;
            }
            span {
                margin: 0 auto;
                width: fit-content;
                > * {
                    width: unset !important;
                }
                .sketch-picker  {
                    .flexbox-fix:last-child {
                        display: none !important;
                    }
                }
            }
            .font {
                border: $border;
                padding: 20px;
            }
        }
    }
}
