* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 14px;

    @media only screen and (max-width: 768px) {
        font-size: 12px;
    }
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color
}

a,
*::before,
*::after,
span {
    display: block;
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #000;
        color: #fff;
    }

    &.highlight {
        background-color: $primalry-color;
        border: none;
    }
}

img.cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
}

html {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: $white;
    user-select: none;

    * {
        scrollbar-width: 3px;
        scrollbar-color: $white #5891ed;
    }

    *::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    *::-webkit-scrollbar-track {
        display: none;
        background: $white;
    }

    *::-webkit-scrollbar-thumb {
        display: none;
        width: 0;
        height: 0;
    }
}

a {
    text-decoration: none;
    color: $dark;

    &:focus {
        outline: none;
    }
}

ul,
li {
    list-style-type: none;
    padding-left: 0;
}

ul {
    margin-bottom: 0 !important;
}

input,
button {
    outline: none;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding: 0 15px;
}

.title {
    font-size: $large-size;
    font-weight: 600;
    text-align: center;
}

@for $i from 1 through 100 {
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }

    .ml-#{$i} {
        margin-left: #{$i}px;
    }

    .mr-#{$i} {
        margin-right: #{$i}px;
    }

    .pt-#{$i} {
        padding-top: #{$i}px;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }

    .pl-#{$i} {
        padding-left: #{$i}px;
    }

    .pr-#{$i} {
        padding-right: #{$i}px;
    }
}

.flexbox {
    --gap-col: 30px;
    --gap-row: 30px;

    display: flex;
    flex-flow: row wrap;
    column-gap: var(--gap-col);
    row-gap: var(--gap-row);

    @for $i from 1 through 12 {
        &.center {
            justify-content: center;
        }

        &.flex#{$i} {
            .item {
                width: calc(1 / #{$i} * 100% - (1 - 1 / #{$i}) * 30px);

                >* {
                    min-height: 100%;

                }
            }
        }

        .col-#{$i} {
            width: calc(1 / 12 * #{$i} * 100% - (1 - 1 / #{$i}) * 30px);
        }
    }

    @for $i from 1 through 12 {
        &.lg-flex#{$i} {
            @media only screen and (max-width : 992px) {
                .item {
                    width: calc(1 / #{$i} * 100% - (1 - 1 / #{$i}) * 30px);
                }
            }
        }
    }

    @for $i from 1 through 12 {
        &.md-flex#{$i} {
            @media only screen and (max-width : 768px) {
                .item {
                    width: calc(1 / #{$i} * 100% - (1 - 1 / #{$i}) * 30px);
                }
            }
        }
    }

    @for $i from 1 through 12 {
        &.sm-flex#{$i} {
            @media only screen and (max-width : 576px) {
                .item {
                    width: calc(1 / #{$i} * 100% - (1 - 1 / #{$i}) * 30px);
                }
            }
        }
    }

    @for $i from 1 through 12 {
        &.xs-flex#{$i} {
            @media only screen and (max-width : 450px) {
                .item {
                    width: calc(1 / #{$i} * 100% - (1 - 1 / #{$i}) * 30px);
                }
            }
        }
    }

    @for $i from 1 through 12 {
        @media only screen and (max-width : 992px) {
            .lg-col-#{$i} {
                width: calc(1 / 12 * #{$i} * 100% - (1 - 1 / #{$i}) * 30px);
            }
        }
    }

    @for $i from 1 through 12 {
        @media only screen and (max-width : 768px) {
            .md-col-#{$i} {
                width: calc(1 / 12 * #{$i} * 100% - (1 - 1 / #{$i}) * 30px);
            }
        }
    }
    @for $i from 1 through 12 {
        @media only screen and (max-width : 576px) {
            .sm-col-#{$i} {
                width: calc(1 / 12 * #{$i} * 100% - (1 - 1 / #{$i}) * 30px);
            }
        }
    }
    @for $i from 1 through 12 {
        @media only screen and (max-width : 450px) {
            .xs-col-#{$i} {
                width: calc(1 / 12 * #{$i} * 100% - (1 - 1 / #{$i}) * 30px);
            }
        }
    }
}