.footer {
  display: block;
  width: 100%;
  margin-top: 30px;

  .footer-default {
    background-color: $black;
    padding: 30px 0;

    &__header {
      color: $white;
      font-size: 1.35rem;
      font-weight: 500;
      text-align: left;
    }

    p,
    span,
    a {
      color: $white;
      margin: 0;
    }
    ul {
      li{
        margin-top: 5px;
        span {
          display: inline;
          + span {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .footer {
    display: block;
    float: left;
    height: auto;

    .footer-default {
      display: block;
      padding: 1.5rem;

      &__header {
        text-align: center;
      }

      &__col-1 {
        width: 100%;

        &--license {
          font-weight: 500;
          text-align: center;
        }
      }

      &__col-2 {
        display: none;
      }

      &__col-3 {
        margin-top: 2rem;
      }
    }

    .footer-copy-right {
      position: relative;
      padding-bottom: 6rem;

      p {
        font-size: 0.8rem;
      }
    }

    .footer-dispatch {
      height: $btn-wrapper-h !important;
      padding: 2.5rem 0 !important;

      button {
        width: 90%;
      }
    }
  }

}