form {
    .title {
        text-align: center;
        font-size: $large-size;
    }
    .row-input {
        margin-top: 25px;
    }
    .button {
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }
}